<div class="header">
    <mat-toolbar color="primary">
        <button mat-button (click)="toggleSideNav()">
            <mat-icon>menu</mat-icon>
        </button>

        Birthday App

        <div *ngIf="config?.showSearchInput" class="search-input">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
            <mat-form-field>
                <input type="text" matInput [formControl]="searchInput">
            </mat-form-field>
        </div>
    </mat-toolbar>
</div>