<div class="friends">

    <mat-card *ngFor="let friend of (friends$ | async)">

        <mat-card-header>
            <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg">
            <mat-card-title>
                {{ friend.name }}
            </mat-card-title>
            <mat-card-subtitle>
                Turns {{ getTurningAge(friend.birthday) }} on {{ getNextBirthday(friend.birthday) | date: 'dd MMMM y' }}
                <br />
                {{ getDaysUntilNextBirthday(friend.birthday) }}
            </mat-card-subtitle>
        </mat-card-header>

    </mat-card>

</div>