.sidenav {
    min-width: 320px;

    .mat-card-avatar {
        margin-right: 16px;
    }

    .mat-list-item {
        padding: 5px 0;
        width: 100%;

        .mat-button {
            width: 100%;
            text-align: left;
        }
    }

    &__github {
        display: flex;
        align-items: center;
        margin-left: 16px;
        margin-top: 24px;

        .mat-icon {
            margin-right: 6px;
            height: 16px;
            width: 16px;
            font-size: 16px;
        }
    }
}