<div class="friend">
    <div class="friend__form">
        <form [formGroup]="friendForm" (submit)="submitForm()">
            <mat-card>

                <mat-card-header>

                    <mat-card-title>
                        Add your friend
                    </mat-card-title>
                    <mat-card-subtitle>
                        to save their birthday
                    </mat-card-subtitle>

                </mat-card-header>

                <mat-card-content>

                    <mat-form-field>

                        <input
                            matInput
                            type="text"
                            formControlName="name"
                            placeholder="Your friend's name">

                    </mat-form-field>

                    <mat-form-field>
                        <input matInput formControlName="birthday" [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-error *ngIf="(error$ | async)?.type === FriendsError.CreateFriend || (error$ | async)?.type === FriendsError.UpdateFriend">
                        {{ (error$ | async).content }}
                    </mat-error>

                </mat-card-content>

                <mat-card-actions>
                    <button
                        mat-raised-button
                        color="primary"
                        type="submit">
                        {{ friendExists ? 'Save Changes' : 'Add Friend' }}
                    </button>
                    <a routerLink="../" mat-button color="primary">Cancel</a>
                </mat-card-actions>

            </mat-card>
        </form>
    </div>
</div>