<div class="app">

    <mat-sidenav-container (backdropClick)="sideNav.close()">

        <mat-sidenav #sideNav mode="side">
            <div *ngIf="user$ | async as user">
                <!--<a mat-button (click)="logOut()">sign out ({{ user.email }})</a>-->
                <mat-toolbar color="primary">
                    <mat-toolbar-row>

                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <img mat-card-avatar src="https://material-components-web.appspot.com/images/animal3.svg">
                        {{ user.email }}
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>

            <mat-list>
                <mat-list-item>
                    <a mat-button routerLink="/friends">
                        <mat-icon mat-list-icon>people</mat-icon>
                        See all friends
                    </a>
                </mat-list-item>

                <mat-list-item>
                    <a mat-button routerLink="/friends/new">
                        <mat-icon mat-list-icon>person_add</mat-icon>
                        Add friends
                    </a>
                </mat-list-item>

                <mat-divider></mat-divider>
                <h3 mat-subheader>
                    Settings
                </h3>

                <mat-list-item>
                    <button mat-button (click)="logOut()">
                        <mat-icon mat-list-icon>exit_to_app</mat-icon>
                        Sign out
                    </button>
                </mat-list-item>
            </mat-list>

        </mat-sidenav>

        <app-header
            (sideNavToggled)="onSideNavToggled()"
            (searchInputValueChanged)="onSearchInputValueChanged($event)">
        </app-header>

        <router-outlet></router-outlet>

    </mat-sidenav-container>

</div>