<div class="main-login">
    <main-auth-form (formSubmit)="handleFormSubmit($event)">

        <mat-card-header>
            <mat-card-title>
                Sign in
            </mat-card-title>
            <mat-card-subtitle>
                to continue to Birthday App
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions align="end">
            <a mat-button color="primary" routerLink="/register">Create account</a>
            <button mat-raised-button color="primary">Sign in</button>
        </mat-card-actions>

        <mat-error *ngIf="loginError">
            {{ loginError }}
        </mat-error>

    </main-auth-form>
</div>